:root{
  --light-grey: #f7f8f9;
  --water-color: #23efdb;
  --ornage-color:#ffce32;
  --blues-tell:#3a77ff;
  --dark-mode: #002f34;
  --white-color: #fff;
}

*{
    font-family:  sans-serif;
    padding: 0;
    margin: 0;
    
}

/* header */
nav{
    background: var(--light-grey);
    color: var(--dark-mode);
}

#main-header{
    display: flex;
    justify-content: space-between;
    /* margin: 2px; */
    align-items: center;

}
/* search */
#searchbar{
    margin: 0;
    padding: 0;
    position: relative;
    border: #000;

}

#search{
 color: var(--dark-mode);
 width: 1000px;
 height: 50px;   
 color: #000;
 margin: 10px;
 padding: 10px;

}
#searchbar a{
font-size: 21px;
background-color: #000;
color: #fff;
padding: 10px;
top: 11%;
left: 98%;
position: absolute;
width: 5%;
text-align: center;
border: none;
}


#olxaddsimg{
    width: 15vh;
    height: 15vh;
    border: none;
    margin: 5px;
    padding: 2px;
}

/* Categories */

#categoriesheading{
    background-color: #3a77ff;
    /* text-align: center; */
    height: 75px;
    position: relative;
}
#categoriesheading h1{
    text-align: center;
    position: absolute; 
    right: 50%;
    top: 20%;
}

#categories{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

#categories div:hover{
background-color:  #f5f5ef;
color:  #000;
box-shadow: 0 0 0 0px;
animation: cubic-bezier(0.075, 0.82, 0.165, 1);
border-radius: 10px;
}











