:root{
  --light-grey: #f7f8f9;
  --water-color: #23efdb;
  --ornage-color:#ffce32;
  --blues-tell:#3a77ff;
  --dark-mode: #002f34;
  --white-color: #fff;
}

*{
    font-family:  sans-serif;
    padding: 0;
    margin: 0;
    
}

/* header */
nav{
    background: var(--light-grey);
    color: var(--dark-mode);
}

#main-header{
    display: flex;
    justify-content: space-between;
    /* margin: 2px; */
    align-items: center;

}
/* search */
.search-container{
  margin: 0;
  padding: 0;
  color: #000;
}
.search-container #search-time{
  width: 40vw;
  height: 7vh;
  border:1px solid #000;
  padding: 5px;

  
}

#btn-searchbar{
  width: 4vw;
  height: 7vh;
  background: #000;
  color: #fff;
}



/* countries & location */
#countries{
    position: relative;
}
#countries #countrysearch{
  width: 20vw;
  height: 7vh;
}

#olxaddsimg{
    width: 15vh;
    height: 15vh;
    border: none;
    margin: 5px;
    padding: 2px;
}

#countrysearch{
    font-size: 20px;  
    padding: 30px;

  
  
}

#arrowdown{
    position: absolute;
    top: 30%;
    right:4%;
    font-size: 30px;
    
}

#searchbar{
    position: absolute;
    top: 30%;
    left: 1%;
    font-size: 25px;

}

/* Categories */

#categoriesheading{
    background-color: #3a77ff;
    top: 30%;
    width: 100%;
    /* text-align: center; */
    height: 10vh;
    position: relative;
}
#categoriesheading h1{
    text-align: center;
    position: absolute; 
    right: 50%;
    top: 20%;
    color: #fff;
}

#categories{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

#categories div:hover{
background-color:  #f5f5ef;
color:  #000;
box-shadow: 0 0 0 0px;
border-radius: 10px;
animation: ease-in 0.9s
}

/* button login signup */
#btns{
    margin: 20px;
    padding: 10px;
}

#sell-btn{
border: 10px solid;
border-top-color: #23efdb;
border-left-color: #ffce32;
border-bottom-color: #3a77ff;
border-right-color: #3a77ff;

margin: 7px;
padding: 7px;
font-size: 20px;
text-align: center;
border-radius: 80px;
background-color: #fff;
box-shadow: 0.7px 0.7px 0.8px 0.7px ;
letter-spacing: 3px;
}

#plus{
    margin: 3px;
    padding: 2px;
    color: #000;
    font-size: 22px;

}

#login{
    border-bottom-color: #23e5db;
    border-bottom: 1px solid #000;
    font-size: 22px;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
}

#login:hover{
    border: none ;
}




/* postHeader */

#postHeader{
    background: var(--light-grey);
}

#postHeader a{
 font-size: 2vw;
 color: #000;
 margin: 3vw;
 padding: 3vw;
}

#maindivPost{
    border: 1px solid #000;
    margin: 3vw;
    padding: 3vw;
    text-transform: uppercase;
}