:root{
  --light-grey: #f7f8f9;
  --water-color: #23efdb;
  --ornage-color:#ffce32;
  --blues-tell:#3a77ff;
  --dark-mode: #002f34;
  --white-color: #fff;
}

*{
    font-family:  sans-serif;
    padding: 0;
    margin: 0;
    
}

/* header */
nav{
    background: var(--light-grey);
    color: var(--dark-mode);
}

#main-header{
    display: flex;
    justify-content: space-between;
    /* margin: 2px; */
    align-items: center;

}
/* search */
#searchcontainer{
    margin: 0;
    padding: 0;
    position: relative;
    border: #000;

}

#search{
 color: var(--dark-mode);
 width: 700px;
 height: 55px;   
 color: #000;
 margin: 10px;
 padding: 10px;

}
#searchcontainer a{
font-size: 23px;
background-color: #000;
color: #fff;
padding: 10px;
top: 13%;
left: 98%;
position: absolute;
width: 9%;
text-align: center;
border: none;
}

/* countries & location */
#countries{
    position: relative;
}
#countries #countrysearch{
    width: 400px;
    height: 55px;
}

#olxaddsimg{
    width: 15vh;
    height: 15vh;
    border: none;
    margin: 5px;
    padding: 2px;
}

#countrysearch{
    font-size: 23px;
    margin: 5px;
    padding: 30px;
    right: 10px;
    font-size: 30px;
}

#arrowdown{
    position: absolute;
    top: 30%;
    right:4%;
    font-size: 30px;
    
}

#searchbar{
    position: absolute;
    top: 30%;
    left: 2%;
    font-size: 25px;

}

/* Categories */

#categoriesheading{
    background-color: #3a77ff;
    top: 30%;
    
    /* text-align: center; */
    height: 75px;
    position: relative;
}
#categoriesheading h1{
    text-align: center;
    position: absolute; 
    right: 50%;
    top: 20%;
    color: #fff;
}

#categories{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

#categories div:hover{
background-color:  #f5f5ef;
color:  #000;
box-shadow: 0 0 0 0px;
border-radius: 10px;
animation: ease-in 0.9s
}











